body {
    /* Image taken from https://unsplash.com/photos/hiTlXbs0-ZU */
    background-image: url("img/andrew-preble-hiTlXbs0-ZU-unsplash.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

}
body, html{
    height: 100%;
}
.test_mask{
    background-color: rgba(0, 0, 0, 0.6);
}
#dropdownMenuButton{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
}
/* .dropdown{
    position: relative;
} */
.dropdown-menu{
    background-color:#fff;
    opacity: 0.7;
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 30%) !important;
 }

li {
    list-style-type: none;
    margin-left: 5px;
}

a{
    text-decoration: none;
}
