body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    background-color:rgb(64,64,64);

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

}
body, html{
    height: 100%;
}
.test_mask{
    background-color: rgba(0, 0, 0, 0.6);
}
li {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

@keyframes myAnimation{
    0%{
      opacity: 1;
      transform: rotateX(90deg);
    }
    50%{
      opacity: 0.5;
      transform: rotateX(0deg);
    }
    100%{
      display: none;
      opacity: 0;
      transform: rotateX(90deg);
    }
  }
  
  .loading{
      width: 20%;
      animation-name: myAnimation;
      animation-duration: 4.8s;
      animation-fill-mode: forwards;
  }
.trans{

    animation-delay: 3s;
    animation: fade 5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

