{% extends "base.html" %}
{% block headstyle %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/subpages.css') }}">
{% endblock %}

{% block title %}3D Visualization{% endblock %}
{% block body %}
    <h2>
        <ul>
                <p class="lead">
                        <a href="/" class="btn btn-lg btn-secondary">Go back</a>
                </p>

        </ul>
        <p class="lead loading">
                Loading...
        </p>
    </h2>
    <div class="embed-responsive embed-responsive-16by9 trans">
            <iframe class="embed-responsive-item" width=1300 height=900 style="border: none;" src="/dashapp/" allowfullscreen></iframe>
    </div>
    <!-- <div style="--aspect-ratio: 16/9;">
        <iframe src="/dashapp/"  width=1300 height=900 style="border: none;"/>

    </div> -->

    {% endblock %}
