{% extends "base.html" %}

{% block title %}ISS location{% endblock %}

{% block body %}

<div class="test_mask row h-100">
        <div class="col-sm-12 my-auto">
                        <h1 class="cover-heading">ISS TRACKER</h1>
                        <p class="lead">Current location of the Internation Space Station</p>
                        <p class="lead">
                                <a href="/frame_3d_iss/" class="btn btn-lg btn-secondary">3D visualization</a>
                        </p>
                        <p class="lead">
                            <a href="/plotly_ISS_2D/" class="btn btn-lg btn-secondary">2D visualization</a>
                        </p>   
        </div>
     </div>

{% endblock %}
